*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Lobster Two', cursive;
}

.brCuisine{
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.titleContainer{
    width: 50%;
    background-color: rgb(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

#mainTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: salmon;
    font-size: 72px;
}

#background{
    
    width: 100%;
}

a{
    text-decoration: none;
}

hr{
    width: 50%;
    margin: auto;
    color: black;
    
}

.container{
    width: fit-content;
    background-color: wheat;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    overflow: hidden;
    justify-content: space-between;
    
}

#logo{
    text-align: center;
    padding: 20px;
    color: teal;
}


.menuButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    
}

.menuButtons a{
    
    
    border: 1px solid;
    border-color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    margin: 30px;
    background-color: white;
    
}

.menuButtons a:hover{
    box-shadow: 5px 5px teal;
}

h2{
    text-align: center;
    padding: 100px;
}

h6{
    text-align: start;
    padding: 10px;
    font-size: 16px;
}

.about p{
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    line-height: 5vw;
}

.mainPage{
    max-width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 100px;
    color: black;
    background-color: darksalmon;
}



.meals{
    
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: row;
    border-radius:25%;
    margin-left: 40px;
    margin-top: 15px;
    text-align: center;
    
    
}

.meals h6{
    text-align: center;
    color: black;
}

.meals img:hover{
    box-shadow: 8px 8px black;
    transition: 0.5s ease;
    transform: translate(-10%, -5%);    
}

.reservationBox, .contact{

    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: teal;

    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 50px;
}

input{
   position: block;
   text-align: center;
   margin: auto;

   width: 200px;
   height: 50px;
   padding: 15px;
  
}

footer, small{
    text-align: center;
    color: black;
}

label{
    padding: 5px;
    color: black;
}

.contact a{
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 100%;
        max-height: fit-content;
        overflow-x: hidden;
    }
    
    .about{
       text-align: justify;
       margin: 0;
    }

    .meals{
        height: fit-content;
    }

    .meals img{
        height: 200px;
        margin: auto;
        padding: 10px;
        padding-right:10px ;
    }


    .reservationBox input{

        height: fit-content;
        margin: auto;
        width: 100%;       
    }

    .contact{
        max-width: 100%;
        text-align: center;
        margin: 0;
     }

    footer, small{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    small{
        max-width: 80%;
        text-align: left;
    }
}

@media screen and (max-width: 500px) {
    .container{
        max-width: 100%;
        max-height: fit-content;
        overflow-x: hidden;
    }

    header{

        max-width: 500px;
        position: relative;
        display: flexbox;
        flex-direction: column;
        text-align: center;
        margin: auto;
        overflow-x: hidden;
        background-color: white;
    }

    #logo{
        color: black;
        background-color: wheat;
    }

    .menuButtons,li{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: teal;
    }

    .brCuisine, #background{
        display: none;
    }

}


@media screen and (max-width: 500px) {
    .about{
       text-align: justify;
       margin: 0;
    }

    .mainPage{
        background-color: salmon;
    }

    .meals{
        height: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-right: 100%;
    }

    .meals img{
        height: 200px;
    }

    .reservationBox input{

        height: fit-content;
        margin: auto;
        width: 100%;       
    }

    .reservationBox{
        background-color: teal;
    }

    .contact{
        max-width: 100%;
        text-align: center;
        margin: 0;
        background-color: teal;
     }

    footer, small{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    small{
        max-width: 80%;
        text-align: left;
    }
}